@theme {
  --spacing-0: 0rem;
  --spacing-1: 0.0625rem;
  --spacing-2: 0.125rem;
  --spacing-3: 0.1875rem;
  --spacing-4: 0.25rem;
  --spacing-5: 0.3125rem;
  --spacing-6: 0.375rem;
  --spacing-7: 0.4375rem;
  --spacing-8: 0.5rem;
  --spacing-9: 0.5625rem;
  --spacing-10: 0.625rem;
  --spacing-11: 0.6875rem;
  --spacing-12: 0.75rem;
  --spacing-13: 0.8125rem;
  --spacing-14: 0.875rem;
  --spacing-15: 0.9375rem;
  --spacing-16: 1rem;
  --spacing-17: 1.0625rem;
  --spacing-18: 1.125rem;
  --spacing-19: 1.1875rem;
  --spacing-20: 1.25rem;
  --spacing-21: 1.3125rem;
  --spacing-22: 1.375rem;
  --spacing-23: 1.4375rem;
  --spacing-24: 1.5rem;
  --spacing-25: 1.5625rem;
  --spacing-26: 1.625rem;
  --spacing-27: 1.6875rem;
  --spacing-28: 1.75rem;
  --spacing-29: 1.8125rem;
  --spacing-30: 1.875rem;
  --spacing-31: 1.9375rem;
  --spacing-32: 2rem;
  --spacing-33: 2.0625rem;
  --spacing-34: 2.125rem;
  --spacing-35: 2.1875rem;
  --spacing-36: 2.25rem;
  --spacing-37: 2.3125rem;
  --spacing-38: 2.375rem;
  --spacing-39: 2.4375rem;
  --spacing-40: 2.5rem;
  --spacing-41: 2.5625rem;
  --spacing-42: 2.625rem;
  --spacing-43: 2.6875rem;
  --spacing-44: 2.75rem;
  --spacing-45: 2.8125rem;
  --spacing-46: 2.875rem;
  --spacing-47: 2.9375rem;
  --spacing-48: 3rem;
  --spacing-49: 3.0625rem;
  --spacing-50: 3.125rem;
  --spacing-51: 3.1875rem;
  --spacing-52: 3.25rem;
  --spacing-53: 3.3125rem;
  --spacing-54: 3.375rem;
  --spacing-55: 3.4375rem;
  --spacing-56: 3.5rem;
  --spacing-57: 3.5625rem;
  --spacing-58: 3.625rem;
  --spacing-59: 3.6875rem;
  --spacing-60: 3.75rem;
  --spacing-61: 3.8125rem;
  --spacing-62: 3.875rem;
  --spacing-63: 3.9375rem;
  --spacing-64: 4rem;
  --spacing-65: 4.0625rem;
  --spacing-66: 4.125rem;
  --spacing-67: 4.1875rem;
  --spacing-68: 4.25rem;
  --spacing-69: 4.3125rem;
  --spacing-70: 4.375rem;
  --spacing-71: 4.4375rem;
  --spacing-72: 4.5rem;
  --spacing-73: 4.5625rem;
  --spacing-74: 4.625rem;
  --spacing-75: 4.6875rem;
  --spacing-76: 4.75rem;
  --spacing-77: 4.8125rem;
  --spacing-78: 4.875rem;
  --spacing-79: 4.9375rem;
  --spacing-80: 5rem;
  --spacing-81: 5.0625rem;
  --spacing-82: 5.125rem;
  --spacing-83: 5.1875rem;
  --spacing-84: 5.25rem;
  --spacing-85: 5.3125rem;
  --spacing-86: 5.375rem;
  --spacing-87: 5.4375rem;
  --spacing-88: 5.5rem;
  --spacing-89: 5.5625rem;
  --spacing-90: 5.625rem;
  --spacing-91: 5.6875rem;
  --spacing-92: 5.75rem;
  --spacing-93: 5.8125rem;
  --spacing-94: 5.875rem;
  --spacing-95: 5.9375rem;
  --spacing-96: 6rem;
  --spacing-97: 6.0625rem;
  --spacing-98: 6.125rem;
  --spacing-99: 6.1875rem;
  --spacing-100: 6.25rem;
  --spacing-101: 6.3125rem;
  --spacing-102: 6.375rem;
  --spacing-103: 6.4375rem;
  --spacing-104: 6.5rem;
  --spacing-105: 6.5625rem;
  --spacing-106: 6.625rem;
  --spacing-107: 6.6875rem;
  --spacing-108: 6.75rem;
  --spacing-109: 6.8125rem;
  --spacing-110: 6.875rem;
  --spacing-111: 6.9375rem;
  --spacing-112: 7rem;
  --spacing-113: 7.0625rem;
  --spacing-114: 7.125rem;
  --spacing-115: 7.1875rem;
  --spacing-116: 7.25rem;
  --spacing-117: 7.3125rem;
  --spacing-118: 7.375rem;
  --spacing-119: 7.4375rem;
  --spacing-120: 7.5rem;
  --spacing-121: 7.5625rem;
  --spacing-122: 7.625rem;
  --spacing-123: 7.6875rem;
  --spacing-124: 7.75rem;
  --spacing-125: 7.8125rem;
  --spacing-126: 7.875rem;
  --spacing-127: 7.9375rem;
  --spacing-128: 8rem;
  --spacing-129: 8.0625rem;
  --spacing-130: 8.125rem;
  --spacing-131: 8.1875rem;
  --spacing-132: 8.25rem;
  --spacing-133: 8.3125rem;
  --spacing-134: 8.375rem;
  --spacing-135: 8.4375rem;
  --spacing-136: 8.5rem;
  --spacing-137: 8.5625rem;
  --spacing-138: 8.625rem;
  --spacing-139: 8.6875rem;
  --spacing-140: 8.75rem;
  --spacing-141: 8.8125rem;
  --spacing-142: 8.875rem;
  --spacing-143: 8.9375rem;
  --spacing-144: 9rem;
  --spacing-145: 9.0625rem;
  --spacing-146: 9.125rem;
  --spacing-147: 9.1875rem;
  --spacing-148: 9.25rem;
  --spacing-149: 9.3125rem;
  --spacing-150: 9.375rem;
  --spacing-151: 9.4375rem;
  --spacing-152: 9.5rem;
  --spacing-153: 9.5625rem;
  --spacing-154: 9.625rem;
  --spacing-155: 9.6875rem;
  --spacing-156: 9.75rem;
  --spacing-157: 9.8125rem;
  --spacing-158: 9.875rem;
  --spacing-159: 9.9375rem;
  --spacing-160: 10rem;
  --spacing-161: 10.0625rem;
  --spacing-162: 10.125rem;
  --spacing-163: 10.1875rem;
  --spacing-164: 10.25rem;
  --spacing-165: 10.3125rem;
  --spacing-166: 10.375rem;
  --spacing-167: 10.4375rem;
  --spacing-168: 10.5rem;
  --spacing-169: 10.5625rem;
  --spacing-170: 10.625rem;
  --spacing-171: 10.6875rem;
  --spacing-172: 10.75rem;
  --spacing-173: 10.8125rem;
  --spacing-174: 10.875rem;
  --spacing-175: 10.9375rem;
  --spacing-176: 11rem;
  --spacing-177: 11.0625rem;
  --spacing-178: 11.125rem;
  --spacing-179: 11.1875rem;
  --spacing-180: 11.25rem;
  --spacing-181: 11.3125rem;
  --spacing-182: 11.375rem;
  --spacing-183: 11.4375rem;
  --spacing-184: 11.5rem;
  --spacing-185: 11.5625rem;
  --spacing-186: 11.625rem;
  --spacing-187: 11.6875rem;
  --spacing-188: 11.75rem;
  --spacing-189: 11.8125rem;
  --spacing-190: 11.875rem;
  --spacing-191: 11.9375rem;
  --spacing-192: 12rem;
  --spacing-193: 12.0625rem;
  --spacing-194: 12.125rem;
  --spacing-195: 12.1875rem;
  --spacing-196: 12.25rem;
  --spacing-197: 12.3125rem;
  --spacing-198: 12.375rem;
  --spacing-199: 12.4375rem;
  --spacing-200: 12.5rem;
  --spacing-201: 12.5625rem;
  --spacing-202: 12.625rem;
  --spacing-203: 12.6875rem;
  --spacing-204: 12.75rem;
  --spacing-205: 12.8125rem;
  --spacing-206: 12.875rem;
  --spacing-207: 12.9375rem;
  --spacing-208: 13rem;
  --spacing-209: 13.0625rem;
  --spacing-210: 13.125rem;
  --spacing-211: 13.1875rem;
  --spacing-212: 13.25rem;
  --spacing-213: 13.3125rem;
  --spacing-214: 13.375rem;
  --spacing-215: 13.4375rem;
  --spacing-216: 13.5rem;
  --spacing-217: 13.5625rem;
  --spacing-218: 13.625rem;
  --spacing-219: 13.6875rem;
  --spacing-220: 13.75rem;
  --spacing-221: 13.8125rem;
  --spacing-222: 13.875rem;
  --spacing-223: 13.9375rem;
  --spacing-224: 14rem;
  --spacing-225: 14.0625rem;
  --spacing-226: 14.125rem;
  --spacing-227: 14.1875rem;
  --spacing-228: 14.25rem;
  --spacing-229: 14.3125rem;
  --spacing-230: 14.375rem;
  --spacing-231: 14.4375rem;
  --spacing-232: 14.5rem;
  --spacing-233: 14.5625rem;
  --spacing-234: 14.625rem;
  --spacing-235: 14.6875rem;
  --spacing-236: 14.75rem;
  --spacing-237: 14.8125rem;
  --spacing-238: 14.875rem;
  --spacing-239: 14.9375rem;
  --spacing-240: 15rem;
  --spacing-241: 15.0625rem;
  --spacing-242: 15.125rem;
  --spacing-243: 15.1875rem;
  --spacing-244: 15.25rem;
  --spacing-245: 15.3125rem;
  --spacing-246: 15.375rem;
  --spacing-247: 15.4375rem;
  --spacing-248: 15.5rem;
  --spacing-249: 15.5625rem;
  --spacing-250: 15.625rem;
  --spacing-251: 15.6875rem;
  --spacing-252: 15.75rem;
  --spacing-253: 15.8125rem;
  --spacing-254: 15.875rem;
  --spacing-255: 15.9375rem;
  --spacing-256: 16rem;
  --spacing-257: 16.0625rem;
  --spacing-258: 16.125rem;
  --spacing-259: 16.1875rem;
  --spacing-260: 16.25rem;
  --spacing-261: 16.3125rem;
  --spacing-262: 16.375rem;
  --spacing-263: 16.4375rem;
  --spacing-264: 16.5rem;
  --spacing-265: 16.5625rem;
  --spacing-266: 16.625rem;
  --spacing-267: 16.6875rem;
  --spacing-268: 16.75rem;
  --spacing-269: 16.8125rem;
  --spacing-270: 16.875rem;
  --spacing-271: 16.9375rem;
  --spacing-272: 17rem;
  --spacing-273: 17.0625rem;
  --spacing-274: 17.125rem;
  --spacing-275: 17.1875rem;
  --spacing-276: 17.25rem;
  --spacing-277: 17.3125rem;
  --spacing-278: 17.375rem;
  --spacing-279: 17.4375rem;
  --spacing-280: 17.5rem;
  --spacing-281: 17.5625rem;
  --spacing-282: 17.625rem;
  --spacing-283: 17.6875rem;
  --spacing-284: 17.75rem;
  --spacing-285: 17.8125rem;
  --spacing-286: 17.875rem;
  --spacing-287: 17.9375rem;
  --spacing-288: 18rem;
  --spacing-289: 18.0625rem;
  --spacing-290: 18.125rem;
  --spacing-291: 18.1875rem;
  --spacing-292: 18.25rem;
  --spacing-293: 18.3125rem;
  --spacing-294: 18.375rem;
  --spacing-295: 18.4375rem;
  --spacing-296: 18.5rem;
  --spacing-297: 18.5625rem;
  --spacing-298: 18.625rem;
  --spacing-299: 18.6875rem;
  --spacing-300: 18.75rem;
  --spacing-301: 18.8125rem;
  --spacing-302: 18.875rem;
  --spacing-303: 18.9375rem;
  --spacing-304: 19rem;
  --spacing-305: 19.0625rem;
  --spacing-306: 19.125rem;
  --spacing-307: 19.1875rem;
  --spacing-308: 19.25rem;
  --spacing-309: 19.3125rem;
  --spacing-310: 19.375rem;
  --spacing-311: 19.4375rem;
  --spacing-312: 19.5rem;
  --spacing-313: 19.5625rem;
  --spacing-314: 19.625rem;
  --spacing-315: 19.6875rem;
  --spacing-316: 19.75rem;
  --spacing-317: 19.8125rem;
  --spacing-318: 19.875rem;
  --spacing-319: 19.9375rem;
  --spacing-320: 20rem;
  --spacing-321: 20.0625rem;
  --spacing-322: 20.125rem;
  --spacing-323: 20.1875rem;
  --spacing-324: 20.25rem;
  --spacing-325: 20.3125rem;
  --spacing-326: 20.375rem;
  --spacing-327: 20.4375rem;
  --spacing-328: 20.5rem;
  --spacing-329: 20.5625rem;
  --spacing-330: 20.625rem;
  --spacing-331: 20.6875rem;
  --spacing-332: 20.75rem;
  --spacing-333: 20.8125rem;
  --spacing-334: 20.875rem;
  --spacing-335: 20.9375rem;
  --spacing-336: 21rem;
  --spacing-337: 21.0625rem;
  --spacing-338: 21.125rem;
  --spacing-339: 21.1875rem;
  --spacing-340: 21.25rem;
  --spacing-341: 21.3125rem;
  --spacing-342: 21.375rem;
  --spacing-343: 21.4375rem;
  --spacing-344: 21.5rem;
  --spacing-345: 21.5625rem;
  --spacing-346: 21.625rem;
  --spacing-347: 21.6875rem;
  --spacing-348: 21.75rem;
  --spacing-349: 21.8125rem;
  --spacing-350: 21.875rem;
  --spacing-351: 21.9375rem;
  --spacing-352: 22rem;
  --spacing-353: 22.0625rem;
  --spacing-354: 22.125rem;
  --spacing-355: 22.1875rem;
  --spacing-356: 22.25rem;
  --spacing-357: 22.3125rem;
  --spacing-358: 22.375rem;
  --spacing-359: 22.4375rem;
  --spacing-360: 22.5rem;
  --spacing-361: 22.5625rem;
  --spacing-362: 22.625rem;
  --spacing-363: 22.6875rem;
  --spacing-364: 22.75rem;
  --spacing-365: 22.8125rem;
  --spacing-366: 22.875rem;
  --spacing-367: 22.9375rem;
  --spacing-368: 23rem;
  --spacing-369: 23.0625rem;
  --spacing-370: 23.125rem;
  --spacing-371: 23.1875rem;
  --spacing-372: 23.25rem;
  --spacing-373: 23.3125rem;
  --spacing-374: 23.375rem;
  --spacing-375: 23.4375rem;
  --spacing-376: 23.5rem;
  --spacing-377: 23.5625rem;
  --spacing-378: 23.625rem;
  --spacing-379: 23.6875rem;
  --spacing-380: 23.75rem;
  --spacing-381: 23.8125rem;
  --spacing-382: 23.875rem;
  --spacing-383: 23.9375rem;
  --spacing-384: 24rem;
  --spacing-385: 24.0625rem;
  --spacing-386: 24.125rem;
  --spacing-387: 24.1875rem;
  --spacing-388: 24.25rem;
  --spacing-389: 24.3125rem;
  --spacing-390: 24.375rem;
  --spacing-391: 24.4375rem;
  --spacing-392: 24.5rem;
  --spacing-393: 24.5625rem;
  --spacing-394: 24.625rem;
  --spacing-395: 24.6875rem;
  --spacing-396: 24.75rem;
  --spacing-397: 24.8125rem;
  --spacing-398: 24.875rem;
  --spacing-399: 24.9375rem;
  --spacing-400: 25rem;
  --spacing-401: 25.0625rem;
  --spacing-402: 25.125rem;
  --spacing-403: 25.1875rem;
  --spacing-404: 25.25rem;
  --spacing-405: 25.3125rem;
  --spacing-406: 25.375rem;
  --spacing-407: 25.4375rem;
  --spacing-408: 25.5rem;
  --spacing-409: 25.5625rem;
  --spacing-410: 25.625rem;
  --spacing-411: 25.6875rem;
  --spacing-412: 25.75rem;
  --spacing-413: 25.8125rem;
  --spacing-414: 25.875rem;
  --spacing-415: 25.9375rem;
  --spacing-416: 26rem;
  --spacing-417: 26.0625rem;
  --spacing-418: 26.125rem;
  --spacing-419: 26.1875rem;
  --spacing-420: 26.25rem;
  --spacing-421: 26.3125rem;
  --spacing-422: 26.375rem;
  --spacing-423: 26.4375rem;
  --spacing-424: 26.5rem;
  --spacing-425: 26.5625rem;
  --spacing-426: 26.625rem;
  --spacing-427: 26.6875rem;
  --spacing-428: 26.75rem;
  --spacing-429: 26.8125rem;
  --spacing-430: 26.875rem;
  --spacing-431: 26.9375rem;
  --spacing-432: 27rem;
  --spacing-433: 27.0625rem;
  --spacing-434: 27.125rem;
  --spacing-435: 27.1875rem;
  --spacing-436: 27.25rem;
  --spacing-437: 27.3125rem;
  --spacing-438: 27.375rem;
  --spacing-439: 27.4375rem;
  --spacing-440: 27.5rem;
  --spacing-441: 27.5625rem;
  --spacing-442: 27.625rem;
  --spacing-443: 27.6875rem;
  --spacing-444: 27.75rem;
  --spacing-445: 27.8125rem;
  --spacing-446: 27.875rem;
  --spacing-447: 27.9375rem;
  --spacing-448: 28rem;
  --spacing-449: 28.0625rem;
  --spacing-450: 28.125rem;
  --spacing-451: 28.1875rem;
  --spacing-452: 28.25rem;
  --spacing-453: 28.3125rem;
  --spacing-454: 28.375rem;
  --spacing-455: 28.4375rem;
  --spacing-456: 28.5rem;
  --spacing-457: 28.5625rem;
  --spacing-458: 28.625rem;
  --spacing-459: 28.6875rem;
  --spacing-460: 28.75rem;
  --spacing-461: 28.8125rem;
  --spacing-462: 28.875rem;
  --spacing-463: 28.9375rem;
  --spacing-464: 29rem;
  --spacing-465: 29.0625rem;
  --spacing-466: 29.125rem;
  --spacing-467: 29.1875rem;
  --spacing-468: 29.25rem;
  --spacing-469: 29.3125rem;
  --spacing-470: 29.375rem;
  --spacing-471: 29.4375rem;
  --spacing-472: 29.5rem;
  --spacing-473: 29.5625rem;
  --spacing-474: 29.625rem;
  --spacing-475: 29.6875rem;
  --spacing-476: 29.75rem;
  --spacing-477: 29.8125rem;
  --spacing-478: 29.875rem;
  --spacing-479: 29.9375rem;
  --spacing-480: 30rem;
  --spacing-481: 30.0625rem;
  --spacing-482: 30.125rem;
  --spacing-483: 30.1875rem;
  --spacing-484: 30.25rem;
  --spacing-485: 30.3125rem;
  --spacing-486: 30.375rem;
  --spacing-487: 30.4375rem;
  --spacing-488: 30.5rem;
  --spacing-489: 30.5625rem;
  --spacing-490: 30.625rem;
  --spacing-491: 30.6875rem;
  --spacing-492: 30.75rem;
  --spacing-493: 30.8125rem;
  --spacing-494: 30.875rem;
  --spacing-495: 30.9375rem;
  --spacing-496: 31rem;
  --spacing-497: 31.0625rem;
  --spacing-498: 31.125rem;
  --spacing-499: 31.1875rem;
  --spacing-500: 31.25rem;
  --spacing-501: 31.3125rem;
  --spacing-502: 31.375rem;
  --spacing-503: 31.4375rem;
  --spacing-504: 31.5rem;
  --spacing-505: 31.5625rem;
  --spacing-506: 31.625rem;
  --spacing-507: 31.6875rem;
  --spacing-508: 31.75rem;
  --spacing-509: 31.8125rem;
  --spacing-510: 31.875rem;
  --spacing-511: 31.9375rem;
  --spacing-512: 32rem;
  --spacing-513: 32.0625rem;
  --spacing-514: 32.125rem;
  --spacing-515: 32.1875rem;
  --spacing-516: 32.25rem;
  --spacing-517: 32.3125rem;
  --spacing-518: 32.375rem;
  --spacing-519: 32.4375rem;
  --spacing-520: 32.5rem;
  --spacing-521: 32.5625rem;
  --spacing-522: 32.625rem;
  --spacing-523: 32.6875rem;
  --spacing-524: 32.75rem;
  --spacing-525: 32.8125rem;
  --spacing-526: 32.875rem;
  --spacing-527: 32.9375rem;
  --spacing-528: 33rem;
  --spacing-529: 33.0625rem;
  --spacing-530: 33.125rem;
  --spacing-531: 33.1875rem;
  --spacing-532: 33.25rem;
  --spacing-533: 33.3125rem;
  --spacing-534: 33.375rem;
  --spacing-535: 33.4375rem;
  --spacing-536: 33.5rem;
  --spacing-537: 33.5625rem;
  --spacing-538: 33.625rem;
  --spacing-539: 33.6875rem;
  --spacing-540: 33.75rem;
  --spacing-541: 33.8125rem;
  --spacing-542: 33.875rem;
  --spacing-543: 33.9375rem;
  --spacing-544: 34rem;
  --spacing-545: 34.0625rem;
  --spacing-546: 34.125rem;
  --spacing-547: 34.1875rem;
  --spacing-548: 34.25rem;
  --spacing-549: 34.3125rem;
  --spacing-550: 34.375rem;
  --spacing-551: 34.4375rem;
  --spacing-552: 34.5rem;
  --spacing-553: 34.5625rem;
  --spacing-554: 34.625rem;
  --spacing-555: 34.6875rem;
  --spacing-556: 34.75rem;
  --spacing-557: 34.8125rem;
  --spacing-558: 34.875rem;
  --spacing-559: 34.9375rem;
  --spacing-560: 35rem;
  --spacing-561: 35.0625rem;
  --spacing-562: 35.125rem;
  --spacing-563: 35.1875rem;
  --spacing-564: 35.25rem;
  --spacing-565: 35.3125rem;
  --spacing-566: 35.375rem;
  --spacing-567: 35.4375rem;
  --spacing-568: 35.5rem;
  --spacing-569: 35.5625rem;
  --spacing-570: 35.625rem;
  --spacing-571: 35.6875rem;
  --spacing-572: 35.75rem;
  --spacing-573: 35.8125rem;
  --spacing-574: 35.875rem;
  --spacing-575: 35.9375rem;
  --spacing-576: 36rem;
  --spacing-577: 36.0625rem;
  --spacing-578: 36.125rem;
  --spacing-579: 36.1875rem;
  --spacing-580: 36.25rem;
  --spacing-581: 36.3125rem;
  --spacing-582: 36.375rem;
  --spacing-583: 36.4375rem;
  --spacing-584: 36.5rem;
  --spacing-585: 36.5625rem;
  --spacing-586: 36.625rem;
  --spacing-587: 36.6875rem;
  --spacing-588: 36.75rem;
  --spacing-589: 36.8125rem;
  --spacing-590: 36.875rem;
  --spacing-591: 36.9375rem;
  --spacing-592: 37rem;
  --spacing-593: 37.0625rem;
  --spacing-594: 37.125rem;
  --spacing-595: 37.1875rem;
  --spacing-596: 37.25rem;
  --spacing-597: 37.3125rem;
  --spacing-598: 37.375rem;
  --spacing-599: 37.4375rem;
  --spacing-600: 37.5rem;
  --spacing-601: 37.5625rem;
  --spacing-602: 37.625rem;
  --spacing-603: 37.6875rem;
  --spacing-604: 37.75rem;
  --spacing-605: 37.8125rem;
  --spacing-606: 37.875rem;
  --spacing-607: 37.9375rem;
  --spacing-608: 38rem;
  --spacing-609: 38.0625rem;
  --spacing-610: 38.125rem;
  --spacing-611: 38.1875rem;
  --spacing-612: 38.25rem;
  --spacing-613: 38.3125rem;
  --spacing-614: 38.375rem;
  --spacing-615: 38.4375rem;
  --spacing-616: 38.5rem;
  --spacing-617: 38.5625rem;
  --spacing-618: 38.625rem;
  --spacing-619: 38.6875rem;
  --spacing-620: 38.75rem;
  --spacing-621: 38.8125rem;
  --spacing-622: 38.875rem;
  --spacing-623: 38.9375rem;
  --spacing-624: 39rem;
  --spacing-625: 39.0625rem;
  --spacing-626: 39.125rem;
  --spacing-627: 39.1875rem;
  --spacing-628: 39.25rem;
  --spacing-629: 39.3125rem;
  --spacing-630: 39.375rem;
  --spacing-631: 39.4375rem;
  --spacing-632: 39.5rem;
  --spacing-633: 39.5625rem;
  --spacing-634: 39.625rem;
  --spacing-635: 39.6875rem;
  --spacing-636: 39.75rem;
  --spacing-637: 39.8125rem;
  --spacing-638: 39.875rem;
  --spacing-639: 39.9375rem;
  --spacing-640: 40rem;
  --spacing-641: 40.0625rem;
  --spacing-642: 40.125rem;
  --spacing-643: 40.1875rem;
  --spacing-644: 40.25rem;
  --spacing-645: 40.3125rem;
  --spacing-646: 40.375rem;
  --spacing-647: 40.4375rem;
  --spacing-648: 40.5rem;
  --spacing-649: 40.5625rem;
  --spacing-650: 40.625rem;
  --spacing-651: 40.6875rem;
  --spacing-652: 40.75rem;
  --spacing-653: 40.8125rem;
  --spacing-654: 40.875rem;
  --spacing-655: 40.9375rem;
  --spacing-656: 41rem;
  --spacing-657: 41.0625rem;
  --spacing-658: 41.125rem;
  --spacing-659: 41.1875rem;
  --spacing-660: 41.25rem;
  --spacing-661: 41.3125rem;
  --spacing-662: 41.375rem;
  --spacing-663: 41.4375rem;
  --spacing-664: 41.5rem;
  --spacing-665: 41.5625rem;
  --spacing-666: 41.625rem;
  --spacing-667: 41.6875rem;
  --spacing-668: 41.75rem;
  --spacing-669: 41.8125rem;
  --spacing-670: 41.875rem;
  --spacing-671: 41.9375rem;
  --spacing-672: 42rem;
  --spacing-673: 42.0625rem;
  --spacing-674: 42.125rem;
  --spacing-675: 42.1875rem;
  --spacing-676: 42.25rem;
  --spacing-677: 42.3125rem;
  --spacing-678: 42.375rem;
  --spacing-679: 42.4375rem;
  --spacing-680: 42.5rem;
  --spacing-681: 42.5625rem;
  --spacing-682: 42.625rem;
  --spacing-683: 42.6875rem;
  --spacing-684: 42.75rem;
  --spacing-685: 42.8125rem;
  --spacing-686: 42.875rem;
  --spacing-687: 42.9375rem;
  --spacing-688: 43rem;
  --spacing-689: 43.0625rem;
  --spacing-690: 43.125rem;
  --spacing-691: 43.1875rem;
  --spacing-692: 43.25rem;
  --spacing-693: 43.3125rem;
  --spacing-694: 43.375rem;
  --spacing-695: 43.4375rem;
  --spacing-696: 43.5rem;
  --spacing-697: 43.5625rem;
  --spacing-698: 43.625rem;
  --spacing-699: 43.6875rem;
  --spacing-700: 43.75rem;
  --spacing-701: 43.8125rem;
  --spacing-702: 43.875rem;
  --spacing-703: 43.9375rem;
  --spacing-704: 44rem;
  --spacing-705: 44.0625rem;
  --spacing-706: 44.125rem;
  --spacing-707: 44.1875rem;
  --spacing-708: 44.25rem;
  --spacing-709: 44.3125rem;
  --spacing-710: 44.375rem;
  --spacing-711: 44.4375rem;
  --spacing-712: 44.5rem;
  --spacing-713: 44.5625rem;
  --spacing-714: 44.625rem;
  --spacing-715: 44.6875rem;
  --spacing-716: 44.75rem;
  --spacing-717: 44.8125rem;
  --spacing-718: 44.875rem;
  --spacing-719: 44.9375rem;
  --spacing-720: 45rem;
  --spacing-721: 45.0625rem;
  --spacing-722: 45.125rem;
  --spacing-723: 45.1875rem;
  --spacing-724: 45.25rem;
  --spacing-725: 45.3125rem;
  --spacing-726: 45.375rem;
  --spacing-727: 45.4375rem;
  --spacing-728: 45.5rem;
  --spacing-729: 45.5625rem;
  --spacing-730: 45.625rem;
  --spacing-731: 45.6875rem;
  --spacing-732: 45.75rem;
  --spacing-733: 45.8125rem;
  --spacing-734: 45.875rem;
  --spacing-735: 45.9375rem;
  --spacing-736: 46rem;
  --spacing-737: 46.0625rem;
  --spacing-738: 46.125rem;
  --spacing-739: 46.1875rem;
  --spacing-740: 46.25rem;
  --spacing-741: 46.3125rem;
  --spacing-742: 46.375rem;
  --spacing-743: 46.4375rem;
  --spacing-744: 46.5rem;
  --spacing-745: 46.5625rem;
  --spacing-746: 46.625rem;
  --spacing-747: 46.6875rem;
  --spacing-748: 46.75rem;
  --spacing-749: 46.8125rem;
  --spacing-750: 46.875rem;
  --spacing-751: 46.9375rem;
  --spacing-752: 47rem;
  --spacing-753: 47.0625rem;
  --spacing-754: 47.125rem;
  --spacing-755: 47.1875rem;
  --spacing-756: 47.25rem;
  --spacing-757: 47.3125rem;
  --spacing-758: 47.375rem;
  --spacing-759: 47.4375rem;
  --spacing-760: 47.5rem;
  --spacing-761: 47.5625rem;
  --spacing-762: 47.625rem;
  --spacing-763: 47.6875rem;
  --spacing-764: 47.75rem;
  --spacing-765: 47.8125rem;
  --spacing-766: 47.875rem;
  --spacing-767: 47.9375rem;
  --spacing-768: 48rem;
  --spacing-769: 48.0625rem;
  --spacing-770: 48.125rem;
  --spacing-771: 48.1875rem;
  --spacing-772: 48.25rem;
  --spacing-773: 48.3125rem;
  --spacing-774: 48.375rem;
  --spacing-775: 48.4375rem;
  --spacing-776: 48.5rem;
  --spacing-777: 48.5625rem;
  --spacing-778: 48.625rem;
  --spacing-779: 48.6875rem;
  --spacing-780: 48.75rem;
  --spacing-781: 48.8125rem;
  --spacing-782: 48.875rem;
  --spacing-783: 48.9375rem;
  --spacing-784: 49rem;
  --spacing-785: 49.0625rem;
  --spacing-786: 49.125rem;
  --spacing-787: 49.1875rem;
  --spacing-788: 49.25rem;
  --spacing-789: 49.3125rem;
  --spacing-790: 49.375rem;
  --spacing-791: 49.4375rem;
  --spacing-792: 49.5rem;
  --spacing-793: 49.5625rem;
  --spacing-794: 49.625rem;
  --spacing-795: 49.6875rem;
  --spacing-796: 49.75rem;
  --spacing-797: 49.8125rem;
  --spacing-798: 49.875rem;
  --spacing-799: 49.9375rem;
  --spacing-800: 50rem;
  --spacing-801: 50.0625rem;
  --spacing-802: 50.125rem;
  --spacing-803: 50.1875rem;
  --spacing-804: 50.25rem;
  --spacing-805: 50.3125rem;
  --spacing-806: 50.375rem;
  --spacing-807: 50.4375rem;
  --spacing-808: 50.5rem;
  --spacing-809: 50.5625rem;
  --spacing-810: 50.625rem;
  --spacing-811: 50.6875rem;
  --spacing-812: 50.75rem;
  --spacing-813: 50.8125rem;
  --spacing-814: 50.875rem;
  --spacing-815: 50.9375rem;
  --spacing-816: 51rem;
  --spacing-817: 51.0625rem;
  --spacing-818: 51.125rem;
  --spacing-819: 51.1875rem;
  --spacing-820: 51.25rem;
  --spacing-821: 51.3125rem;
  --spacing-822: 51.375rem;
  --spacing-823: 51.4375rem;
  --spacing-824: 51.5rem;
  --spacing-825: 51.5625rem;
  --spacing-826: 51.625rem;
  --spacing-827: 51.6875rem;
  --spacing-828: 51.75rem;
  --spacing-829: 51.8125rem;
  --spacing-830: 51.875rem;
  --spacing-831: 51.9375rem;
  --spacing-832: 52rem;
  --spacing-833: 52.0625rem;
  --spacing-834: 52.125rem;
  --spacing-835: 52.1875rem;
  --spacing-836: 52.25rem;
  --spacing-837: 52.3125rem;
  --spacing-838: 52.375rem;
  --spacing-839: 52.4375rem;
  --spacing-840: 52.5rem;
  --spacing-841: 52.5625rem;
  --spacing-842: 52.625rem;
  --spacing-843: 52.6875rem;
  --spacing-844: 52.75rem;
  --spacing-845: 52.8125rem;
  --spacing-846: 52.875rem;
  --spacing-847: 52.9375rem;
  --spacing-848: 53rem;
  --spacing-849: 53.0625rem;
  --spacing-850: 53.125rem;
  --spacing-851: 53.1875rem;
  --spacing-852: 53.25rem;
  --spacing-853: 53.3125rem;
  --spacing-854: 53.375rem;
  --spacing-855: 53.4375rem;
  --spacing-856: 53.5rem;
  --spacing-857: 53.5625rem;
  --spacing-858: 53.625rem;
  --spacing-859: 53.6875rem;
  --spacing-860: 53.75rem;
  --spacing-861: 53.8125rem;
  --spacing-862: 53.875rem;
  --spacing-863: 53.9375rem;
  --spacing-864: 54rem;
  --spacing-865: 54.0625rem;
  --spacing-866: 54.125rem;
  --spacing-867: 54.1875rem;
  --spacing-868: 54.25rem;
  --spacing-869: 54.3125rem;
  --spacing-870: 54.375rem;
  --spacing-871: 54.4375rem;
  --spacing-872: 54.5rem;
  --spacing-873: 54.5625rem;
  --spacing-874: 54.625rem;
  --spacing-875: 54.6875rem;
  --spacing-876: 54.75rem;
  --spacing-877: 54.8125rem;
  --spacing-878: 54.875rem;
  --spacing-879: 54.9375rem;
  --spacing-880: 55rem;
  --spacing-881: 55.0625rem;
  --spacing-882: 55.125rem;
  --spacing-883: 55.1875rem;
  --spacing-884: 55.25rem;
  --spacing-885: 55.3125rem;
  --spacing-886: 55.375rem;
  --spacing-887: 55.4375rem;
  --spacing-888: 55.5rem;
  --spacing-889: 55.5625rem;
  --spacing-890: 55.625rem;
  --spacing-891: 55.6875rem;
  --spacing-892: 55.75rem;
  --spacing-893: 55.8125rem;
  --spacing-894: 55.875rem;
  --spacing-895: 55.9375rem;
  --spacing-896: 56rem;
  --spacing-897: 56.0625rem;
  --spacing-898: 56.125rem;
  --spacing-899: 56.1875rem;
  --spacing-900: 56.25rem;
  --spacing-901: 56.3125rem;
  --spacing-902: 56.375rem;
  --spacing-903: 56.4375rem;
  --spacing-904: 56.5rem;
  --spacing-905: 56.5625rem;
  --spacing-906: 56.625rem;
  --spacing-907: 56.6875rem;
  --spacing-908: 56.75rem;
  --spacing-909: 56.8125rem;
  --spacing-910: 56.875rem;
  --spacing-911: 56.9375rem;
  --spacing-912: 57rem;
  --spacing-913: 57.0625rem;
  --spacing-914: 57.125rem;
  --spacing-915: 57.1875rem;
  --spacing-916: 57.25rem;
  --spacing-917: 57.3125rem;
  --spacing-918: 57.375rem;
  --spacing-919: 57.4375rem;
  --spacing-920: 57.5rem;
  --spacing-921: 57.5625rem;
  --spacing-922: 57.625rem;
  --spacing-923: 57.6875rem;
  --spacing-924: 57.75rem;
  --spacing-925: 57.8125rem;
  --spacing-926: 57.875rem;
  --spacing-927: 57.9375rem;
  --spacing-928: 58rem;
  --spacing-929: 58.0625rem;
  --spacing-930: 58.125rem;
  --spacing-931: 58.1875rem;
  --spacing-932: 58.25rem;
  --spacing-933: 58.3125rem;
  --spacing-934: 58.375rem;
  --spacing-935: 58.4375rem;
  --spacing-936: 58.5rem;
  --spacing-937: 58.5625rem;
  --spacing-938: 58.625rem;
  --spacing-939: 58.6875rem;
  --spacing-940: 58.75rem;
  --spacing-941: 58.8125rem;
  --spacing-942: 58.875rem;
  --spacing-943: 58.9375rem;
  --spacing-944: 59rem;
  --spacing-945: 59.0625rem;
  --spacing-946: 59.125rem;
  --spacing-947: 59.1875rem;
  --spacing-948: 59.25rem;
  --spacing-949: 59.3125rem;
  --spacing-950: 59.375rem;
  --spacing-951: 59.4375rem;
  --spacing-952: 59.5rem;
  --spacing-953: 59.5625rem;
  --spacing-954: 59.625rem;
  --spacing-955: 59.6875rem;
  --spacing-956: 59.75rem;
  --spacing-957: 59.8125rem;
  --spacing-958: 59.875rem;
  --spacing-959: 59.9375rem;
  --spacing-960: 60rem;
  --spacing-961: 60.0625rem;
  --spacing-962: 60.125rem;
  --spacing-963: 60.1875rem;
  --spacing-964: 60.25rem;
  --spacing-965: 60.3125rem;
  --spacing-966: 60.375rem;
  --spacing-967: 60.4375rem;
  --spacing-968: 60.5rem;
  --spacing-969: 60.5625rem;
  --spacing-970: 60.625rem;
  --spacing-971: 60.6875rem;
  --spacing-972: 60.75rem;
  --spacing-973: 60.8125rem;
  --spacing-974: 60.875rem;
  --spacing-975: 60.9375rem;
  --spacing-976: 61rem;
  --spacing-977: 61.0625rem;
  --spacing-978: 61.125rem;
  --spacing-979: 61.1875rem;
  --spacing-980: 61.25rem;
  --spacing-981: 61.3125rem;
  --spacing-982: 61.375rem;
  --spacing-983: 61.4375rem;
  --spacing-984: 61.5rem;
  --spacing-985: 61.5625rem;
  --spacing-986: 61.625rem;
  --spacing-987: 61.6875rem;
  --spacing-988: 61.75rem;
  --spacing-989: 61.8125rem;
  --spacing-990: 61.875rem;
  --spacing-991: 61.9375rem;
  --spacing-992: 62rem;
  --spacing-993: 62.0625rem;
  --spacing-994: 62.125rem;
  --spacing-995: 62.1875rem;
  --spacing-996: 62.25rem;
  --spacing-997: 62.3125rem;
  --spacing-998: 62.375rem;
  --spacing-999: 62.4375rem;
  --spacing-1000: 62.5rem;
  --spacing-1001: 62.5625rem;
  --spacing-1002: 62.625rem;
  --spacing-1003: 62.6875rem;
  --spacing-1004: 62.75rem;
  --spacing-1005: 62.8125rem;
  --spacing-1006: 62.875rem;
  --spacing-1007: 62.9375rem;
  --spacing-1008: 63rem;
  --spacing-1009: 63.0625rem;
  --spacing-1010: 63.125rem;
  --spacing-1011: 63.1875rem;
  --spacing-1012: 63.25rem;
  --spacing-1013: 63.3125rem;
  --spacing-1014: 63.375rem;
  --spacing-1015: 63.4375rem;
  --spacing-1016: 63.5rem;
  --spacing-1017: 63.5625rem;
  --spacing-1018: 63.625rem;
  --spacing-1019: 63.6875rem;
  --spacing-1020: 63.75rem;
  --spacing-1021: 63.8125rem;
  --spacing-1022: 63.875rem;
  --spacing-1023: 63.9375rem;
  --spacing-1024: 64rem;
  --spacing-1025: 64.0625rem;
  --spacing-1026: 64.125rem;
  --spacing-1027: 64.1875rem;
  --spacing-1028: 64.25rem;
  --spacing-1029: 64.3125rem;
  --spacing-1030: 64.375rem;
  --spacing-1031: 64.4375rem;
  --spacing-1032: 64.5rem;
  --spacing-1033: 64.5625rem;
  --spacing-1034: 64.625rem;
  --spacing-1035: 64.6875rem;
  --spacing-1036: 64.75rem;
  --spacing-1037: 64.8125rem;
  --spacing-1038: 64.875rem;
  --spacing-1039: 64.9375rem;
  --spacing-1040: 65rem;
  --spacing-1041: 65.0625rem;
  --spacing-1042: 65.125rem;
  --spacing-1043: 65.1875rem;
  --spacing-1044: 65.25rem;
  --spacing-1045: 65.3125rem;
  --spacing-1046: 65.375rem;
  --spacing-1047: 65.4375rem;
  --spacing-1048: 65.5rem;
  --spacing-1049: 65.5625rem;
  --spacing-1050: 65.625rem;
  --spacing-1051: 65.6875rem;
  --spacing-1052: 65.75rem;
  --spacing-1053: 65.8125rem;
  --spacing-1054: 65.875rem;
  --spacing-1055: 65.9375rem;
  --spacing-1056: 66rem;
  --spacing-1057: 66.0625rem;
  --spacing-1058: 66.125rem;
  --spacing-1059: 66.1875rem;
  --spacing-1060: 66.25rem;
  --spacing-1061: 66.3125rem;
  --spacing-1062: 66.375rem;
  --spacing-1063: 66.4375rem;
  --spacing-1064: 66.5rem;
  --spacing-1065: 66.5625rem;
  --spacing-1066: 66.625rem;
  --spacing-1067: 66.6875rem;
  --spacing-1068: 66.75rem;
  --spacing-1069: 66.8125rem;
  --spacing-1070: 66.875rem;
  --spacing-1071: 66.9375rem;
  --spacing-1072: 67rem;
  --spacing-1073: 67.0625rem;
  --spacing-1074: 67.125rem;
  --spacing-1075: 67.1875rem;
  --spacing-1076: 67.25rem;
  --spacing-1077: 67.3125rem;
  --spacing-1078: 67.375rem;
  --spacing-1079: 67.4375rem;
  --spacing-1080: 67.5rem;
  --spacing-1081: 67.5625rem;
  --spacing-1082: 67.625rem;
  --spacing-1083: 67.6875rem;
  --spacing-1084: 67.75rem;
  --spacing-1085: 67.8125rem;
  --spacing-1086: 67.875rem;
  --spacing-1087: 67.9375rem;
  --spacing-1088: 68rem;
  --spacing-1089: 68.0625rem;
  --spacing-1090: 68.125rem;
  --spacing-1091: 68.1875rem;
  --spacing-1092: 68.25rem;
  --spacing-1093: 68.3125rem;
  --spacing-1094: 68.375rem;
  --spacing-1095: 68.4375rem;
  --spacing-1096: 68.5rem;
  --spacing-1097: 68.5625rem;
  --spacing-1098: 68.625rem;
  --spacing-1099: 68.6875rem;
  --spacing-1100: 68.75rem;
  --spacing-1101: 68.8125rem;
  --spacing-1102: 68.875rem;
  --spacing-1103: 68.9375rem;
  --spacing-1104: 69rem;
  --spacing-1105: 69.0625rem;
  --spacing-1106: 69.125rem;
  --spacing-1107: 69.1875rem;
  --spacing-1108: 69.25rem;
  --spacing-1109: 69.3125rem;
  --spacing-1110: 69.375rem;
  --spacing-1111: 69.4375rem;
  --spacing-1112: 69.5rem;
  --spacing-1113: 69.5625rem;
  --spacing-1114: 69.625rem;
  --spacing-1115: 69.6875rem;
  --spacing-1116: 69.75rem;
  --spacing-1117: 69.8125rem;
  --spacing-1118: 69.875rem;
  --spacing-1119: 69.9375rem;
  --spacing-1120: 70rem;
  --spacing-1121: 70.0625rem;
  --spacing-1122: 70.125rem;
  --spacing-1123: 70.1875rem;
  --spacing-1124: 70.25rem;
  --spacing-1125: 70.3125rem;
  --spacing-1126: 70.375rem;
  --spacing-1127: 70.4375rem;
  --spacing-1128: 70.5rem;
  --spacing-1129: 70.5625rem;
  --spacing-1130: 70.625rem;
  --spacing-1131: 70.6875rem;
  --spacing-1132: 70.75rem;
  --spacing-1133: 70.8125rem;
  --spacing-1134: 70.875rem;
  --spacing-1135: 70.9375rem;
  --spacing-1136: 71rem;
  --spacing-1137: 71.0625rem;
  --spacing-1138: 71.125rem;
  --spacing-1139: 71.1875rem;
  --spacing-1140: 71.25rem;
  --spacing-1141: 71.3125rem;
  --spacing-1142: 71.375rem;
  --spacing-1143: 71.4375rem;
  --spacing-1144: 71.5rem;
  --spacing-1145: 71.5625rem;
  --spacing-1146: 71.625rem;
  --spacing-1147: 71.6875rem;
  --spacing-1148: 71.75rem;
  --spacing-1149: 71.8125rem;
  --spacing-1150: 71.875rem;
  --spacing-1151: 71.9375rem;
  --spacing-1152: 72rem;
  --spacing-1153: 72.0625rem;
  --spacing-1154: 72.125rem;
  --spacing-1155: 72.1875rem;
  --spacing-1156: 72.25rem;
  --spacing-1157: 72.3125rem;
  --spacing-1158: 72.375rem;
  --spacing-1159: 72.4375rem;
  --spacing-1160: 72.5rem;
  --spacing-1161: 72.5625rem;
  --spacing-1162: 72.625rem;
  --spacing-1163: 72.6875rem;
  --spacing-1164: 72.75rem;
  --spacing-1165: 72.8125rem;
  --spacing-1166: 72.875rem;
  --spacing-1167: 72.9375rem;
  --spacing-1168: 73rem;
  --spacing-1169: 73.0625rem;
  --spacing-1170: 73.125rem;
  --spacing-1171: 73.1875rem;
  --spacing-1172: 73.25rem;
  --spacing-1173: 73.3125rem;
  --spacing-1174: 73.375rem;
  --spacing-1175: 73.4375rem;
  --spacing-1176: 73.5rem;
  --spacing-1177: 73.5625rem;
  --spacing-1178: 73.625rem;
  --spacing-1179: 73.6875rem;
  --spacing-1180: 73.75rem;
  --spacing-1181: 73.8125rem;
  --spacing-1182: 73.875rem;
  --spacing-1183: 73.9375rem;
  --spacing-1184: 74rem;
  --spacing-1185: 74.0625rem;
  --spacing-1186: 74.125rem;
  --spacing-1187: 74.1875rem;
  --spacing-1188: 74.25rem;
  --spacing-1189: 74.3125rem;
  --spacing-1190: 74.375rem;
  --spacing-1191: 74.4375rem;
  --spacing-1192: 74.5rem;
  --spacing-1193: 74.5625rem;
  --spacing-1194: 74.625rem;
  --spacing-1195: 74.6875rem;
  --spacing-1196: 74.75rem;
  --spacing-1197: 74.8125rem;
  --spacing-1198: 74.875rem;
  --spacing-1199: 74.9375rem;
  --spacing-1200: 75rem;
  --spacing-1201: 75.0625rem;
  --spacing-1202: 75.125rem;
  --spacing-1203: 75.1875rem;
  --spacing-1204: 75.25rem;
  --spacing-1205: 75.3125rem;
  --spacing-1206: 75.375rem;
  --spacing-1207: 75.4375rem;
  --spacing-1208: 75.5rem;
  --spacing-1209: 75.5625rem;
  --spacing-1210: 75.625rem;
  --spacing-1211: 75.6875rem;
  --spacing-1212: 75.75rem;
  --spacing-1213: 75.8125rem;
  --spacing-1214: 75.875rem;
  --spacing-1215: 75.9375rem;
  --spacing-1216: 76rem;
  --spacing-1217: 76.0625rem;
  --spacing-1218: 76.125rem;
  --spacing-1219: 76.1875rem;
  --spacing-1220: 76.25rem;
  --spacing-1221: 76.3125rem;
  --spacing-1222: 76.375rem;
  --spacing-1223: 76.4375rem;
  --spacing-1224: 76.5rem;
  --spacing-1225: 76.5625rem;
  --spacing-1226: 76.625rem;
  --spacing-1227: 76.6875rem;
  --spacing-1228: 76.75rem;
  --spacing-1229: 76.8125rem;
  --spacing-1230: 76.875rem;
  --spacing-1231: 76.9375rem;
  --spacing-1232: 77rem;
  --spacing-1233: 77.0625rem;
  --spacing-1234: 77.125rem;
  --spacing-1235: 77.1875rem;
  --spacing-1236: 77.25rem;
  --spacing-1237: 77.3125rem;
  --spacing-1238: 77.375rem;
  --spacing-1239: 77.4375rem;
  --spacing-1240: 77.5rem;
  --spacing-1241: 77.5625rem;
  --spacing-1242: 77.625rem;
  --spacing-1243: 77.6875rem;
  --spacing-1244: 77.75rem;
  --spacing-1245: 77.8125rem;
  --spacing-1246: 77.875rem;
  --spacing-1247: 77.9375rem;
  --spacing-1248: 78rem;
  --spacing-1249: 78.0625rem;
  --spacing-1250: 78.125rem;
  --spacing-1251: 78.1875rem;
  --spacing-1252: 78.25rem;
  --spacing-1253: 78.3125rem;
  --spacing-1254: 78.375rem;
  --spacing-1255: 78.4375rem;
  --spacing-1256: 78.5rem;
  --spacing-1257: 78.5625rem;
  --spacing-1258: 78.625rem;
  --spacing-1259: 78.6875rem;
  --spacing-1260: 78.75rem;
  --spacing-1261: 78.8125rem;
  --spacing-1262: 78.875rem;
  --spacing-1263: 78.9375rem;
  --spacing-1264: 79rem;
  --spacing-1265: 79.0625rem;
  --spacing-1266: 79.125rem;
  --spacing-1267: 79.1875rem;
  --spacing-1268: 79.25rem;
  --spacing-1269: 79.3125rem;
  --spacing-1270: 79.375rem;
  --spacing-1271: 79.4375rem;
  --spacing-1272: 79.5rem;
  --spacing-1273: 79.5625rem;
  --spacing-1274: 79.625rem;
  --spacing-1275: 79.6875rem;
  --spacing-1276: 79.75rem;
  --spacing-1277: 79.8125rem;
  --spacing-1278: 79.875rem;
  --spacing-1279: 79.9375rem;
  --spacing-1280: 80rem;
  --spacing-1281: 80.0625rem;
  --spacing-1282: 80.125rem;
  --spacing-1283: 80.1875rem;
  --spacing-1284: 80.25rem;
  --spacing-1285: 80.3125rem;
  --spacing-1286: 80.375rem;
  --spacing-1287: 80.4375rem;
  --spacing-1288: 80.5rem;
  --spacing-1289: 80.5625rem;
  --spacing-1290: 80.625rem;
  --spacing-1291: 80.6875rem;
  --spacing-1292: 80.75rem;
  --spacing-1293: 80.8125rem;
  --spacing-1294: 80.875rem;
  --spacing-1295: 80.9375rem;
  --spacing-1296: 81rem;
  --spacing-1297: 81.0625rem;
  --spacing-1298: 81.125rem;
  --spacing-1299: 81.1875rem;
  --spacing-1300: 81.25rem;
  --spacing-1301: 81.3125rem;
  --spacing-1302: 81.375rem;
  --spacing-1303: 81.4375rem;
  --spacing-1304: 81.5rem;
  --spacing-1305: 81.5625rem;
  --spacing-1306: 81.625rem;
  --spacing-1307: 81.6875rem;
  --spacing-1308: 81.75rem;
  --spacing-1309: 81.8125rem;
  --spacing-1310: 81.875rem;
  --spacing-1311: 81.9375rem;
  --spacing-1312: 82rem;
  --spacing-1313: 82.0625rem;
  --spacing-1314: 82.125rem;
  --spacing-1315: 82.1875rem;
  --spacing-1316: 82.25rem;
  --spacing-1317: 82.3125rem;
  --spacing-1318: 82.375rem;
  --spacing-1319: 82.4375rem;
  --spacing-1320: 82.5rem;
  --spacing-1321: 82.5625rem;
  --spacing-1322: 82.625rem;
  --spacing-1323: 82.6875rem;
  --spacing-1324: 82.75rem;
  --spacing-1325: 82.8125rem;
  --spacing-1326: 82.875rem;
  --spacing-1327: 82.9375rem;
  --spacing-1328: 83rem;
  --spacing-1329: 83.0625rem;
  --spacing-1330: 83.125rem;
  --spacing-1331: 83.1875rem;
  --spacing-1332: 83.25rem;
  --spacing-1333: 83.3125rem;
  --spacing-1334: 83.375rem;
  --spacing-1335: 83.4375rem;
  --spacing-1336: 83.5rem;
  --spacing-1337: 83.5625rem;
  --spacing-1338: 83.625rem;
  --spacing-1339: 83.6875rem;
  --spacing-1340: 83.75rem;
  --spacing-1341: 83.8125rem;
  --spacing-1342: 83.875rem;
  --spacing-1343: 83.9375rem;
  --spacing-1344: 84rem;
  --spacing-1345: 84.0625rem;
  --spacing-1346: 84.125rem;
  --spacing-1347: 84.1875rem;
  --spacing-1348: 84.25rem;
  --spacing-1349: 84.3125rem;
  --spacing-1350: 84.375rem;
  --spacing-1351: 84.4375rem;
  --spacing-1352: 84.5rem;
  --spacing-1353: 84.5625rem;
  --spacing-1354: 84.625rem;
  --spacing-1355: 84.6875rem;
  --spacing-1356: 84.75rem;
  --spacing-1357: 84.8125rem;
  --spacing-1358: 84.875rem;
  --spacing-1359: 84.9375rem;
  --spacing-1360: 85rem;
  --spacing-1361: 85.0625rem;
  --spacing-1362: 85.125rem;
  --spacing-1363: 85.1875rem;
  --spacing-1364: 85.25rem;
  --spacing-1365: 85.3125rem;
  --spacing-1366: 85.375rem;
  --spacing-1367: 85.4375rem;
  --spacing-1368: 85.5rem;
  --spacing-1369: 85.5625rem;
  --spacing-1370: 85.625rem;
  --spacing-1371: 85.6875rem;
  --spacing-1372: 85.75rem;
  --spacing-1373: 85.8125rem;
  --spacing-1374: 85.875rem;
  --spacing-1375: 85.9375rem;
  --spacing-1376: 86rem;
  --spacing-1377: 86.0625rem;
  --spacing-1378: 86.125rem;
  --spacing-1379: 86.1875rem;
  --spacing-1380: 86.25rem;
  --spacing-1381: 86.3125rem;
  --spacing-1382: 86.375rem;
  --spacing-1383: 86.4375rem;
  --spacing-1384: 86.5rem;
  --spacing-1385: 86.5625rem;
  --spacing-1386: 86.625rem;
  --spacing-1387: 86.6875rem;
  --spacing-1388: 86.75rem;
  --spacing-1389: 86.8125rem;
  --spacing-1390: 86.875rem;
  --spacing-1391: 86.9375rem;
  --spacing-1392: 87rem;
  --spacing-1393: 87.0625rem;
  --spacing-1394: 87.125rem;
  --spacing-1395: 87.1875rem;
  --spacing-1396: 87.25rem;
  --spacing-1397: 87.3125rem;
  --spacing-1398: 87.375rem;
  --spacing-1399: 87.4375rem;
  --spacing-1400: 87.5rem;
  --spacing-1401: 87.5625rem;
  --spacing-1402: 87.625rem;
  --spacing-1403: 87.6875rem;
  --spacing-1404: 87.75rem;
  --spacing-1405: 87.8125rem;
  --spacing-1406: 87.875rem;
  --spacing-1407: 87.9375rem;
  --spacing-1408: 88rem;
  --spacing-1409: 88.0625rem;
  --spacing-1410: 88.125rem;
  --spacing-1411: 88.1875rem;
  --spacing-1412: 88.25rem;
  --spacing-1413: 88.3125rem;
  --spacing-1414: 88.375rem;
  --spacing-1415: 88.4375rem;
  --spacing-1416: 88.5rem;
  --spacing-1417: 88.5625rem;
  --spacing-1418: 88.625rem;
  --spacing-1419: 88.6875rem;
  --spacing-1420: 88.75rem;
  --spacing-1421: 88.8125rem;
  --spacing-1422: 88.875rem;
  --spacing-1423: 88.9375rem;
  --spacing-1424: 89rem;
  --spacing-1425: 89.0625rem;
  --spacing-1426: 89.125rem;
  --spacing-1427: 89.1875rem;
  --spacing-1428: 89.25rem;
  --spacing-1429: 89.3125rem;
  --spacing-1430: 89.375rem;
  --spacing-1431: 89.4375rem;
  --spacing-1432: 89.5rem;
  --spacing-1433: 89.5625rem;
  --spacing-1434: 89.625rem;
  --spacing-1435: 89.6875rem;
  --spacing-1436: 89.75rem;
  --spacing-1437: 89.8125rem;
  --spacing-1438: 89.875rem;
  --spacing-1439: 89.9375rem;
  --spacing-1440: 90rem;
  --spacing-1441: 90.0625rem;
  --spacing-1442: 90.125rem;
  --spacing-1443: 90.1875rem;
  --spacing-1444: 90.25rem;
  --spacing-1445: 90.3125rem;
  --spacing-1446: 90.375rem;
  --spacing-1447: 90.4375rem;
  --spacing-1448: 90.5rem;
  --spacing-1449: 90.5625rem;
  --spacing-1450: 90.625rem;
  --spacing-1451: 90.6875rem;
  --spacing-1452: 90.75rem;
  --spacing-1453: 90.8125rem;
  --spacing-1454: 90.875rem;
  --spacing-1455: 90.9375rem;
  --spacing-1456: 91rem;
  --spacing-1457: 91.0625rem;
  --spacing-1458: 91.125rem;
  --spacing-1459: 91.1875rem;
  --spacing-1460: 91.25rem;
  --spacing-1461: 91.3125rem;
  --spacing-1462: 91.375rem;
  --spacing-1463: 91.4375rem;
  --spacing-1464: 91.5rem;
  --spacing-1465: 91.5625rem;
  --spacing-1466: 91.625rem;
  --spacing-1467: 91.6875rem;
  --spacing-1468: 91.75rem;
  --spacing-1469: 91.8125rem;
  --spacing-1470: 91.875rem;
  --spacing-1471: 91.9375rem;
  --spacing-1472: 92rem;
  --spacing-1473: 92.0625rem;
  --spacing-1474: 92.125rem;
  --spacing-1475: 92.1875rem;
  --spacing-1476: 92.25rem;
  --spacing-1477: 92.3125rem;
  --spacing-1478: 92.375rem;
  --spacing-1479: 92.4375rem;
  --spacing-1480: 92.5rem;
  --spacing-1481: 92.5625rem;
  --spacing-1482: 92.625rem;
  --spacing-1483: 92.6875rem;
  --spacing-1484: 92.75rem;
  --spacing-1485: 92.8125rem;
  --spacing-1486: 92.875rem;
  --spacing-1487: 92.9375rem;
  --spacing-1488: 93rem;
  --spacing-1489: 93.0625rem;
  --spacing-1490: 93.125rem;
  --spacing-1491: 93.1875rem;
  --spacing-1492: 93.25rem;
  --spacing-1493: 93.3125rem;
  --spacing-1494: 93.375rem;
  --spacing-1495: 93.4375rem;
  --spacing-1496: 93.5rem;
  --spacing-1497: 93.5625rem;
  --spacing-1498: 93.625rem;
  --spacing-1499: 93.6875rem;
  --spacing-1500: 93.75rem;
  --spacing-1501: 93.8125rem;
  --spacing-1502: 93.875rem;
  --spacing-1503: 93.9375rem;
  --spacing-1504: 94rem;
  --spacing-1505: 94.0625rem;
  --spacing-1506: 94.125rem;
  --spacing-1507: 94.1875rem;
  --spacing-1508: 94.25rem;
  --spacing-1509: 94.3125rem;
  --spacing-1510: 94.375rem;
  --spacing-1511: 94.4375rem;
  --spacing-1512: 94.5rem;
  --spacing-1513: 94.5625rem;
  --spacing-1514: 94.625rem;
  --spacing-1515: 94.6875rem;
  --spacing-1516: 94.75rem;
  --spacing-1517: 94.8125rem;
  --spacing-1518: 94.875rem;
  --spacing-1519: 94.9375rem;
  --spacing-1520: 95rem;
  --radius-1: 0.0625rem;
  --radius-2: 0.125rem;
  --radius-3: 0.1875rem;
  --radius-4: 0.25rem;
  --radius-5: 0.3125rem;
  --radius-6: 0.375rem;
  --radius-7: 0.4375rem;
  --radius-8: 0.5rem;
  --radius-9: 0.5625rem;
  --radius-10: 0.625rem;
  --radius-11: 0.6875rem;
  --radius-12: 0.75rem;
  --radius-13: 0.8125rem;
  --radius-14: 0.875rem;
  --radius-15: 0.9375rem;
  --radius-16: 1rem;
  --radius-17: 1.0625rem;
  --radius-18: 1.125rem;
  --radius-19: 1.1875rem;
  --radius-20: 1.25rem;
  --radius-21: 1.3125rem;
  --radius-22: 1.375rem;
  --radius-23: 1.4375rem;
  --radius-24: 1.5rem;
  --radius-25: 1.5625rem;
  --radius-26: 1.625rem;
  --radius-27: 1.6875rem;
  --radius-28: 1.75rem;
  --radius-29: 1.8125rem;
  --radius-30: 1.875rem;
  --radius-31: 1.9375rem;
  --radius-32: 2rem;
  --radius-33: 2.0625rem;
  --radius-34: 2.125rem;
  --radius-35: 2.1875rem;
  --radius-36: 2.25rem;
  --radius-37: 2.3125rem;
  --radius-38: 2.375rem;
  --radius-39: 2.4375rem;
  --radius-40: 2.5rem;
  --radius-41: 2.5625rem;
  --radius-42: 2.625rem;
  --radius-43: 2.6875rem;
  --radius-44: 2.75rem;
  --radius-45: 2.8125rem;
  --radius-46: 2.875rem;
  --radius-47: 2.9375rem;
  --radius-48: 3rem;
}
