/* 일요일 */
.custom-day-picker .rdp-weekday:first-child,
.custom-day-picker .rdp-week .rdp-day:first-child .rdp-day_button {
  color: var(--color-red-500);
}

/* 토요일 */
.custom-day-picker .rdp-weekday:last-child,
.custom-day-picker .rdp-week .rdp-day:last-child .rdp-day_button {
  color: var(--color-primary-600);
}

/* 오늘 */
.custom-day-picker .rdp-today .rdp-day_button {
  position: relative;
}

.custom-day-picker .rdp-today .rdp-day_button::after {
  content: '오늘';
  white-space: nowrap;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

/* 월 이동 버튼 */
.custom-day-picker .rdp-nav .rdp-button_previous .rdp-chevron,
.custom-day-picker .rdp-nav .rdp-button_next .rdp-chevron {
  fill: var(--color-gray-700);
}

.custom-day-picker .rdp-button_next:disabled,
.rdp-button_next[aria-disabled='true'],
.rdp-button_previous:disabled,
.rdp-button_previous[aria-disabled='true'] {
  opacity: 0.3;
}

/* 선택된 값 */
.custom-day-picker .rdp-week .rdp-day.rdp-selected .rdp-day_button {
  border: 0;
  width: 44px;
  height: 44px;
  background-color: var(--color-primary-500);
  color: var(--color-white);
}

/* 비활성화 */
.custom-day-picker .rdp-week .rdp-day.rdp-disabled .rdp-day_button {
  color: var(--color-gray-500);
}
