@import 'tailwindcss';

@import './base/tokens.css';
@import './base/colors.css';
@import './base/fontFace.css';
@import './base/fontUtils.css';
@import './base/hiddenScrollbar.css';
@import './base/customScrollbar.css';
@import './base/input.css';
