@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('@/assets/fonts/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('@/assets/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('@/assets/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('@/assets/fonts/woff2/Pretendard-Medium.woff2') format('woff2'),
    url('@/assets/fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('@/assets/fonts/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('@/assets/fonts/woff/Pretendard-Regular.woff') format('woff');
}

/* 색상 */
@theme {
   --color-*: initial;

  /* 기본 색상 */
  --color-black: #000000;
  --color-white: #ffffff;

  /* gray */
  --color-gray-25: #f8f8f8;
  --color-gray-50: #edeef2;
  --color-gray-100: #e0e0e5;
  --color-gray-200: #c6c8cf;
  --color-gray-300: #b3b4bc;
  --color-gray-400: #9fa0a7;
  --color-gray-500: #84858c;
  --color-gray-600: #707177;
  --color-gray-700: #5d5d61;
  --color-gray-800: #49494c;
  --color-gray-900: #323236;
  --color-gray-950: #1f1f22;

  /* primary */
  --color-primary-600: #0d6cd1;
  --color-primary-500: #3d9ef2;
  --color-primary-200: #daf0ff;
  --color-primary-100: #e5f3ff;

  /* kakao */
  --color-kakao: #fee500;

  /* red */
  --color-red-500: #ff2727;
  --color-red-400: #f96767;
  --color-red-300: #ff8f8f;
  --color-red-100: #fcecea;

  /* orange */
  --color-orange-500: #ffb051;
  --color-orange-100: #fff8dd;

  /* yellow */
  --color-yellow-500: #ffc23d;

  /* green */
  --color-green-500: #2ba90d;
  --color-green-100: #e9fbe4;
  
  /* dark green */
  --color-dark-green-500: #1790a0;
  --color-dark-green-100: #ddf9f9;

  /* 그라데이션 배경 */
  --background-image-gradient-main: linear-gradient(180deg, #bbddff -6.85%, #f7fbff 22.43%, #ffffff 100%);

  /* opacity */
  --color-op-50 : oklch(0 0 0 / 50%); /* 전체 영역 */
  --color-op-85: oklch(0 0 0 / 85%); /* 카카오 로그인 버튼 라벨 컬러 */

  /* shadow */
  --shadow-card: 0 4px 24px 0 oklch(0.759 0.0413 246.04 / 20%);
  --shadow-card-5: 0 4px 16px 0 oklch(0.2313 0.0394 144.17 / 5%);
  --shadow-card-content: 0 -8px 20px 0 oklch(0 0 0 / 5%);
  --shadow-input: 0 2px 6px 0 oklch(0 0 0 / 2%);
}

/* 폰트 */
@theme {
  --font-sans: 'Pretendard', sans-serif;

  --heading-size-32: 32px;
  --heading-size-24: 24px;
  --heading-size-20: 20px;
  --heading-size-18: 18px;

  --body-size-18: 18px;
  --body-size-16: 16px;
  --body-size-14: 14px;
  --body-size-13: 13px;
  --body-size-12: 12px;

  --letter-spacing-heading: -2.5%;

  --leading-body-18: 26px;
  --leading-body-16: 24px;
  --leading-body-14: 24px;
  --leading-body-13: 22px;
  --leading-body-12: 20px;
}

@utility heading-* {
  font-family: var(--font-sans);
  font-size: --value(--heading-size-*);
  letter-spacing: var(--letter-spacing-heading);
}

@utility body-* {
  font-family: var(--font-sans);
  font-size: --value(--body-size-*);
  line-height: --value(--leading-body-*);
}
